
body{
  background-color: #ccffee;
}

#container {
    background-color: #ccffee;
    font-family: Georgia, "Times New Roman",serif;
    width: 800px;
    margin:0 auto;
  }

p {
  color: #000;
  font-family: Georgia, "Times New Roman", serif;
}

#photo {
  float:left;
  width: 400px;
  border-style: none;
}
#main {
  float:right;
  width: 400px;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li {
  float:left;
  padding-bottom: 15px;

}

#nav a:link, #nav a:visited {
  font-weight: bold;
  text-align:center;
  text-decoration: none;
  padding: 4px;
	color: #fff;
	background-color: #696969;
	display: block;
	width: 125px;

}

#nav a:hover, #nav a:active {
	background-color: #D3D3D3;
}
